<div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../../assets/images/page1.svg" alt="First slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <article>
    The Huddle is a collective of seasoned entrepreneurs who have dedicated years of unwavering effort to master the intricacies of online marketplace strategies. Our mission at The Huddle is to empower businesses like yours, enabling you to elevate and expand your operations by harnessing the power of online portals. We provide comprehensive end-to-end support, ensuring your success every step of the way.	
With the collective expertise of our young and innovative entrepreneurs, we bring fresh perspectives and cutting-edge strategies to the table. We understand the evolving landscape of the digital world and leverage our insights to craft customized solutions tailored to your specific business needs.

Remember, we are here to support and guide you throughout your ecommerce journey. We bring expertise and industry best practices to help you overcome challenges, maximize opportunities, and achieve long-term success in the online marketplace.

  </article>
</div>